  <h1><span class="name">Todo </span>App</h1>
     <ul>
        <li>
            <input type="checkbox" /> <a href="show/1">walk dog</a>
        </li>
        <li>
            <input type="checkbox" /> <a href="show/2">clean room</a>
        </li>
        <li>
            <input type="checkbox" /> <a href="show/3">clean bathroom</a>
        </li>
        </li>
    </ul>
    <button type="button">Add more</button>
    <button type="button">Delete</button>