 <h1 style="color:blue; background-color:#acc0c4;" >Todo App</h1>
    <h2><span class="pen">Detail</span></h2>
     <h2>Todo#<%=params[:id]%> <%=@todo_description%></h2>
       <a href="/todo/index">back</a>
       <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
<a href=“/todo/destroy/<%= @todo.id %>” class=“button delete-todo-button”>Delete</a>