 <h1 style="color:blue; background-color:#acc0c4;" >Todo App</h1>
    <h2><span class="pen">Detail</span></h2>
     <h2>Todo#<%=params[:id]%> <%=@todo_description%></h2>
     <button type="button">Edit</button>
       <a href="/todo/index">back</a>
